{{> navbar}}

<div class="pageTitle">
  <h2>Mountain Information</h2>
</div>

<div class="mountainInfo materialCard fluid-container col-lg-8 col-lg-offset-2">

  <div class="row">
    <div class="col-lg-4">
      <img src="http://powderskiingcolorado.com/wp-content/uploads/2011/02/arapahoe-basin.jpg" class="mountainImage" alt="" />
    </div>
    <div>
      <h1>Arapahoe Basin</h1>
      <h4>
        Since 1946, Arapahoe Basin has been serving up a fantastic ride for skiers and riders from Colorado and all over the world. We're often the first in Colorado to open - if not the nation - and the last in Colorado to close. Arapahoe Basin receives over 350 inches of snowfall annually.
      </h4>
      <h5>Summit Elevation: 13050</h5>
      <h5>Runs: 109</h5>
      <h5>
        <a href="#">
          View rides going to this mountain
        </a>
      </h5>
    </div>
  </div>

    <div class="row">
      <div class="col-lg-10">
        <h3>Weather Conditions</h3>
        {{#each conditions}}
        <h5>Lower Snow Depth: {{lower_snow_depth}} ft.</h5>
        <h5>Upper Snow Depth: {{upper_snow_depth}} ft.</h5>
        <h4>Current Conditions: {{conditions}}</h4>
        {{/each}}
      </div>
    </div>

    <div class="row">
      {{#each forecast}}
      <div class="col-lg-2">
        <h3>{{date}}</h3>

        {{#each this.day}}
          <h5>{{weather_text}}</h5>
        {{/each}}

        <img src="{{weatherIcon}}" alt="" />

        <h6>{{night_min_temp}} &#8451</h6>
        <h6>{{day_max_temp}} &#8451</h6>

      </div>

      {{/each}}
    </div>

</div>
