
{{> navbar}}

<div class="row">
  <div class="col-lg-3 col-lg-offset-1 text-center">
    <h2 class="sectionTitle">User Profile</h2>
    {{#each userData}}
      <h3>{{username}}</h3>
      <!-- <h5>Rating:</h5>
      <div id="rateYo"></div> -->
      <img class="userImage" src="{{image_url}}" alt="" />
      <h5>{{email}}</h5>
    {{/each}}
    <h5>Average Rating: {{rating}}</h5>
    {{#if loggedInUser}}
      <div class="button">
         <a class="btn btn-info" href="/users/{{user.username}}/edit" role="button">Edit</a>
         <a class="btn btn-info" href="/logout" role="button">Logout</a>
      </div>
    {{/if}}
  </div>
  <div class="riders col-lg-3 col-lg-offset-4 text-center">
    <h2 class="sectionTitle">Upcoming Rides</h2>
    {{#each rideData}}
    <a href="/rides/{{rideID}}">
      <h4>{{name}}</h4>
    </a>
    <h6>{{departureDate}}</h6>
    <a href="/rides/{{rideID}}">
      <div class="ridersImages">
        <img class="rideImage" src="{{mountain_image}}" alt="" />
      </div>
    </a>
    {{/each}}
  </div>
</div>
