
{{> navbar}}

  <div class="col-lg-3 col-lg-offset-1 text-center">
    <h2 class="sectionTitle">User Profile</h2>
    {{#each userData}}
      <h3>{{username}}</h3>
      <img class="userImage thumbnail" src="{{image_url}}" alt="{{username}}\'s profile" />
      <h5>{{email}}</h5>
    {{/each}}
    <h5>Average Rating: {{rating}}</h5>
    {{#if loggedInUser}}
      <div class="button">
         <a class="btn btn-default" href="/users/{{user.username}}/edit" role="button"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
         <a class="btn btn-default" href="/logout" role="button"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
      </div>
    {{/if}}
  </div>
  <div class="riders col-lg-8 right-side">
    <h2 class="sectionTitle">Upcoming Rides</h2>
    {{#each rideData}}
    <div class="ride-wrap">
      <a href="/rides/{{rideID}}">
        <h4>{{name}}</h4>
      </a>
      <h6><i class="fa fa-calendar" aria-hidden="true"></i> {{departure_date}} @ {{departure_time}} AM</h6>
      <a href="/rides/{{rideID}}">
        <div>
          <img class="rideImage img-responsive" src="{{mountain_image}}" alt="" />
        </div>
      </a>
    </div>
    {{/each}}
  </div>
