{{> navbar}}

{{#each rideData}}
<div class="pageTitle">
  <h1>{{name}}</h1>
  <h4>Meet At: {{meetup_loc}}</h4>
  <h4>Date: {{home_depTime}}</h4>
  <h4>Available Seats: {{seats_avail}}</h4>
  <h4>Cost Per Seat: ${{cost_seat}}</h4>
  <form action="/rides/{{rideID}}" method="post">
    <button type="submit" name="button" class="btn btn-default btn-sm reserveSeat">Reserve A Seat!</button>
  </form>
</div>

<div class="container">
  <div class="driver col-md-4">
    <h2>Driver</h2>
    <h3>{{username}}</h3>
    <img src="{{image_url}}" alt="" />
    {{/each}}
    <h4>Rating: {{rating}}</h4>
    {{#each carData}}
      <h2>Car Details</h2>
      <h4>Smoking: {{smoking}}</h4>
      <h4>Make: {{make}}</h4>
      <h4>Model: {{model}}</h4>
      <h4>Drive Type: {{type}}</h4>
      <h4>Ski Rack: {{ski_rack}}</h4>
      <h4>Dog Friendly: {{dog}}</h4>
    {{/each}}
  </div>
  <div class="riders col-md-8 text-center">
    <h2>Other Riders</h2>
    {{#each riderData}}
      <h4>{{username}}</h4>
      <div class="ridersImages">
        <img class="ridersImages" src="{{image_url}}" alt="" />
      </div>
      <h4>
        <a href="users/{{username}}">View User Profile</a>
      </h4>
    {{/each}}
  </div>
</div>
