{{> navbar}}

{{#each rideData}}
<div class="pageTitle row">
  <div class="col-lg-3 col-lg-offset-2">
    <img src="{{mountain_image}}" class="mountainImage" alt="" />
  </div>
  <div class="col-lg-4">
    <h1>{{name}}</h1>
    <h4>Date: {{home_depTime}}</h4>
    <h5>Seats Available: {{seats_avail}}</h5>
    <h5>Price/Seat: ${{cost_seat}}</h5>
    <h5>Meet At: {{meetup_loc}}</h5>
    <form action="/rides/{{rideID}}" method="post">
      <button type="submit" name="button" class="btn btn-default btn-sm reserveSeat">Reserve A Seat!</button>
    </form>
  </div>
</div>

<div class="container row">
  <div class="driver col-lg-3 col-lg-offset-3">
    <h2>Driver</h2>
    <h3>{{username}}</h3>
    <img src="{{image_url}}" alt="" />
    {{/each}}
    <h4>Rating: {{rating}}</h4>
    {{#each carData}}
      <h2>Car Details</h2>
      <h4>Smoking: {{smoking}}</h4>
      <h4>Make: {{make}}</h4>
      <h4>Model: {{model}}</h4>
      <h4>Drive Type: {{type}}</h4>
      <h4>Ski Rack: {{ski_rack}}</h4>
      <h4>Dog Friendly: {{dog}}</h4>
    {{/each}}
  </div>
  <div class="riders col-lg-2 col-lg-offset-4 text-center">
    <h2>Other Riders</h2>
    {{#each riderData}}
      <a href="users/{{username}}">
        <h4>{{username}}</h4>
        <div class="ridersImages">
          <img class="ridersImages" src="{{image_url}}" alt="" />
        </div>
      </a>
    {{/each}}
  </div>
</div>
